body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fbfbfb;
  font-size: 1.8rem;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.6rem;
}
h3 { font-size: 2.2rem; }
h4,
h5,
h6 { font-size: 2.0rem; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  margin-top: 16px;
}

footer {
  margin: 4rem 0;
  text-align: center;
}

header {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/header.png');
}

header .header-image {
  padding: 15rem 1rem;

  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.6);
}

header .header-menu a {
  text-decoration: none;
  color: #444;
}
header .header-menu a:hover {
  text-decoration: underline;
}

main {
  margin: 4rem 2rem;
}

li {
  margin-bottom: 0.2rem;
}

.container {
  width: 100%;
  max-width: 1000px;

}

.header-logo img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.site-title {
  margin-top: 2rem;
  font-size: 7rem;
}
.site-sub-title {
  font-size: 3rem;
  color: #555;
}

/* entry
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.entry-title {
  margin-bottom: 0;
}

.entry-title a {
  text-decoration: none;
  font-size: 3rem;
}
.entry-title a:hover {
  text-decoration: underline;
  font-size: 3rem;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.entry-categories {
  color: #888;
}
.entry-categories a {
  color: #888;
  text-decoration: none;
}
.entry-categories a:hover {
  color: #888;
  text-decoration: underline;
}
/* Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section[itemprop="entry-text"] {
  font-size: 1.8rem;
}

section[itemprop="entry-text"] img {
  border-radius: 4px;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

.error-title {
  text-align: center;
  font-size: 20rem;
}
.error-text {
  text-align: center;
}

section[itemprop="entry-text"] h1 {
    padding: 8px 8px 8px 8px;
    background: #f1f1f1;
    border-radius: 4px;
    margin-left: -1rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    font-size: 3.0rem;
}
section[itemprop="entry-text"] h2 {
  border-bottom: solid 1px #ddd;
  padding-bottom: 16px;
}
section[itemprop="entry-text"] h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

section[itemprop="entry-text"] blockquote {
    position: relative;
    padding: 24px 16px 24px 16px;
    margin: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: italic;
    font-size: 2.8rem;
    background: #f8f8f8;
    color: #888888;
}

section[itemprop="entry-text"] blockquote:before{
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 15px;
    vertical-align: bottom;
    content: "’’";
    color: #cfcfcf;
    font-size: 48px;
    line-height: 1;
}
section[itemprop="entry-text"] blockquote:after{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 20px;
    vertical-align: middle;
    content: "’’";
    color: #cfcfcf;
    font-size: 48px;
    line-height: 1;
}

section[itemprop="entry-text"] blockquote p {
    padding: 0;
    margin: 12px 0;
    line-height: 1.7;
    font-size: 2.8rem;
}

section[itemprop="entry-text"] blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

/* Image Tile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.image_tile  {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 0 6px 0; /* デフォルトのマージンをリセット */
  padding: 0; /* デフォルトのパディングをリセット */

}

ul.image_tile li {
  list-style: none;
  flex: 1;
}
ul.image_tile li b {  display: block;}
ul.image_tile li:nth-child(2) {

  margin: 0 10px;
}

/* Call Out
–––––––––––––––––––––––––––––––––––––––––––––––––– */
aside.callout {
  margin: 0px 0 20px 0px;
  display: block;
  padding: 12px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #000;
  border: 2px solid;
  color: #888;
}
aside.callout p.title {
  font-weight: bold;
  color: #444;
  padding: 0;
}

/* Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav.toc {
  /* border-left: 3px solid #ddd; */

  border-radius: 4px;
  background-color: #f6f6f6;
  padding: 16px;
  margin-bottom: 24px;
}

nav.toc h2 {
  margin: 0 0 8px 0;
  padding: 0;
  border: none;
  color: #888;
  font-size: 1.8rem;
}

nav.toc ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}

nav.toc ul ul {
  list-style-type: circle;
}

nav.toc li {
  margin-bottom: 4px;
  font-size: 1.5rem;
}

nav.toc a {
  text-decoration: none;
  color: #666;
}

nav.toc a:hover {
  text-decoration: underline;
  color: #333;
}
